<footer class="bg-[#CACACA] p-5  mt-20"></footer>
    <footer class="bg-[#86795B] text-center p-10 font-semibold te text-xl text-[#4B2E2B] ">&copy; 2025 Todos os Direitos
        Reservados a Acuminare</footer>
</body>
</html>