<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <link rel="stylesheet" href="./css/landingpage.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Mogra&family=Permanent+Marker&display=swap" rel="stylesheet">
     <title>Aculminare</title>
     <script>
        tailwind.config = {
            theme : {
                extend : {
                    fontFamily : {
                        'Mogra' : ["Mogra", system-ui]
                    }
                }
            }
        }
     </script>
</head>
<body>
    <div>
        <div class="bg-[#86795B] p-10 "></div>
        <div class="bg-[#CACACA] p-5">
        <img src="https://chat.google.com/u/0/api/get_attachment_url?url_type=FIFE_URL&content_type=image%2Fpng&attachment_token=AOo0EEUr%2Bf9pQFv0QSwR4YDiBwPWK4DqdvnhrV%2Bglw5HCjOGXfOoo0QIY7q1aB%2B6NXaorUVW3DhXgep9HMNH0seYGnCdv3dVwRMcv53%2F7JY7aLqnvFkKQFmT2CVWze9yC%2FrL8uAFlnZMuLObfy%2Fmpd%2BHFo7rxnzU4JKNpE%2FQCy9DgrE9mdaJyaGQDv8c9JsTR8QiERIfeQnqdaOI2yMdjWp7JMMusSTjmnykqQNfqp7cB7q2vC2BwnhK2tqX0x0M97vvWbl3Vhuk9TWryScvcyKFuzhtXFCpiEXhZ3GY5rkDlqeEe4UeWD3YyzvRU3ubrn89vUFhYlNavO5JUhenCc3biSFPisArRyrqoPC3Sg2TXu5BVWXk%2BLwBn6VvWRgTRUbCwS15Pb98xiGonD3txzkPvPd%2BJErWU5dhg8YR5vlyyrB5yi0RZ1bdYRFflyoumc0rP2VHUn0yeiPxYDdTPwhB5hkYTdEAigduifj7nhrdnoDBkvOJd9gkBScYQ4q9twYmDf8UVlScT0t3tr4Dm9oDYpRGqkr75GLuTa3kYMm%2BPaOhnQB%2F2FX%2B8FXxj0D5EoD0plrcBy%2FELvel8tH6uPTP09DjlDJWkS0R%2Fxv91MyaB49yLd73%2BiogNvgj&allow_caching=true&sz=w1920-h922-rw" alt="logo">
    </div> 
    </div>
    <div class="esquerdo">
        <div>
            <a href="" class="botão"><button>Conheça nossos produtos</button></a> 
            <a href="" class="botão"><button>Área Administrativa</button></a> 
            <a href="" class="botão"><button>Login Cliente</button></a>
            <a href="" class="botão"><button>Faça sua customização</button></a> 
        </div>
    </div>

</body>
</html>