<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/style.css">
  <script src="https://cdn.tailwindcss.com"></script>
  <title>METAIS</title>

</head>
  <body class="bg-[#7A552F] text-white font-serif">

  <!-- ÁREA DE NAVEGAÇÃO -->
  <header class="bg-[#2A1B00] p-6 flex justify-between items-center shadow-lg">
    <h1 class="text-3xl font-bold text-yellow-400">Acuminare</h1>
    <nav class="space-x-6 text-lg">
      <a href="/" class="hover:text-yellow-300 mr-16">HOME</a>
    </nav>
  </header>

  <!-- ÁREA PRINCIAPAL - HEADER -->
  <section class="text-center py-24 bg-[#4B2E2B] bg-gradient-to- from-gray-800 to-gray-700">
    <!-- LOGOOOOOOO -->

    <div class="relative w-[217px] h-[202px] absolute z-10 -mt-10 -translate-y-1/2 left-1/2 -translate-x-1/2"
      href="/admin/login">
      <img
        src="https://chat.google.com/u/0/api/get_attachment_url?url_type=FIFE_URL&content_type=image%2Fpng&attachment_token=AOo0EEUr%2Bf9pQFv0QSwR4YDiBwPWK4DqdvnhrV%2Bglw5HCjOGXfOoo0QIY7q1aB%2B6NXaorUVW3DhXgep9HMNH0seYGnCdv3dVwRMcv53%2F7JY7aLqnvFkKQFmT2CVWze9yC%2FrL8uAFlnZMuLObfy%2Fmpd%2BHFo7rxnzU4JKNpE%2FQCy9DgrE9mdaJyaGQDv8c9JsTR8QiERIfeQnqdaOI2yMdjWp7JMMusSTjmnykqQNfqp7cB7q2vC2BwnhK2tqX0x0M97vvWbl3Vhuk9TWryScvcyKFuzhtXFCpiEXhZ3GY5rkDlqeEe4UeWD3YyzvRU3ubrn89vUFhYlNavO5JUhenCc3biSFPisArRyrqoPC3Sg2TXu5BVWXk%2BLwBn6VvWRgTRUbCwS15Pb98xiGonD3txzkPvPd%2BJErWU5dhg8YR5vlyyrB5yi0RZ1bdYRFflyoumc0rP2VHUn0yeiPxYDdTPwhB5hkYTdEAigduifj7nhrdnoDBkvOJd9gkBScYQ4q9twYmDf8UVlScT0t3tr4Dm9oDYpRGqkr75GLuTa3kYMm%2BPaOhnQB%2F2FX%2B8FXxj0D5EoD0plrcBy%2FELvel8tH6uPTP09DjlDJWkS0R%2Fxv91MyaB49yLd73%2BiogNvgj&allow_caching=true&sz=w1920-h922-rw "
        class="absolute inset-0 object-cover transition-opacity duration-300 opacity-100 hover:opacity-0 scale-120" />
      <img
        src="https://chat.google.com/u/0/api/get_attachment_url?url_type=FIFE_URL&content_type=image%2Fpng&attachment_token=AOo0EEVf%2Fwu8CY%2BI36Z2IM4WR8U2vHO7zJWr4P7VWEIiaF%2FBeShSiX%2B%2F12ZqZkiO6V%2BpCmQD%2FnVs%2B2zB6CkgWoNAcsPc8JSPMKH3yC9ct4GfhRQNYsi3YAgGjRYstELtuHZahCFRATdjRHzOXVJ6nAXVgQakGvSA%2Fz98WrtN2NY6JT4Mxlzscfmo15v%2BPHGwe0xKOVuzjyju6L%2FAvpc4Tm1VcvtdGluBaHUjpe74OXh5wjZyaUfb99ZPW2lNaQLSWeDDdJjEMTejg9Wqh7tQjXox7ZEiFZ%2BqIdf1IH9ZOgEGoDuhentl2idbxblP9IUuZLWiS%2BEj51g4oK3%2FBN9I4pAcDh%2F7npe0oWPQtKvA%2FuVuM5Zcy7GUO7u8rcGzzqBwuwEx5X%2BtMCtoZ9ZCaNUOSfmA%2Bt9N6ntem4y6kVUXzYuzKskRqwCW4xza9c8jdPXebMtQwgUl%2FXD%2BmWhatA6BpvxyIllucqSwYgCe5oN1sO752byzO8ODMUsEQ2vbhZeOwVUYi8cZRNNHGXK7qSe6304vhIua%2BcXqFe7qwLf8R6B9XM0yM8wz1y5sC7FS3cDI5qi5jluDCo0XVPy8EVNEVNUodrmem7zmUjRkude%2Bkm7RgT5CBp704Eb0YIDy&allow_caching=true&sz=w1920-h922-rw"
        class="absolute inset-0 object-cover transition-opacity duration-300 opacity-0 hover:opacity-100 scale-120" />
    </div> </a>
    <p class="text-4xl text-gray-300 mb-8 -mt-10 font-semibold italic">Navegue entre melodias e escolha a sua</p>
      <a href="#produtos"
        class="bg-yellow-400 text-black px-10 py-4 rounded-full text-lg font-semibold hover:bg-yellow-300 transition">
        Explore os Instrumentos
      </a>

  </section>

  <!-- PRODUTOS -->
  <section id="produtos" class="py-16 px-6 max-w-7xl mx-auto">
    <h3 class="text-3xl font-semibold bg-[#4B2E2B] text-[#DCCFC2] py-4 shadow text-center "
      style="text-shadow: 2px 2px 3px #3B2A20 m-20 ">Produtos em Destaque: <span class="beau italic" >Metais</span></h3>

<!-- PESQUISA -->
    <form action="/instrumentos/metais" method="GET" class=" form form-consulta bg-[#2A1B00] text-black">
      <input type="text" name="busca" placeholder="Buscar por nome ou Categoria">
      <select name="ordem">
        <option value="az">Ordenando por Nome</option>
        <option value="za">Ordenando de A-Z</option>
      </select>
      <button type="submit" class="btn btn-principal hover:bg-[#FDE047] transition hover:text-black transition">Buscar</button>
    </form>
<!-- CARDS -->
    <div class="grid md:grid-cols-3 gap-8 mt-8">
      <% for (let metal of dadosMetais ) { %>
        <div class="bg-[#2A1B00] p-6 rounded-lg shadow-lg hover:scale-105 transition">
          <img src="<%= metal.foto_ins_matal %>" alt="<%= metal.nome_ins_metal %>" class="rounded mb-4">
          <h4 class="text-2xl font-semibold text-yellow-300 mb-2">
            <%= metal.nome_ins_metal %>
          </h4>
          <p class="text-gray-400 mb-4">
            <%= metal.descricao %>
          </p>
        </div>
      <% } %>
    </div>
  </section>

  <!-- FOOTER -->
  <footer class=" py-8 px-6 text-center text-sm text-white border-t border-gray-700 bg-[#4B2E2B]">
    <div class="max-w-7xl mx-auto space-y-4">
      <p>© 2025 Acuminare — Todos os direitos reservados.</p>
      <div class="flex justify-center gap-6">
        <a href="#" class="hover:text-yellow-400 transition">Termos de Uso</a>
        <a href="#" class="hover:text-yellow-400 transition">Política de Privacidade</a>
        <a href="#contato" class="hover:text-yellow-400 transition">Contato</a>
      </div>
      <div class="flex justify-center gap-4 mt-4 ">
        <a href="#"
          class="w-8 h-8 flex items-center justify-center rounded-full bg-yellow-400 text-black hover:bg-yellow-300 transition">A</a>
        <a href="#"
          class="w-8 h-8 flex items-center justify-center rounded-full bg-yellow-400 text-black hover:bg-yellow-300 transition">C</a>
        <a href="#"
          class="w-8 h-8 flex items-center justify-center rounded-full bg-yellow-400 text-black hover:bg-yellow-300 transition">U</a>
        <a href="#"
          class="w-8 h-8 flex items-center justify-center rounded-full bg-yellow-400 text-black hover:bg-yellow-300 transition">M</a>
        <a href="#"
          class="w-8 h-8 flex items-center justify-center rounded-full bg-yellow-400 text-black hover:bg-yellow-300 transition">I</a>
        <a href="#"
          class="w-8 h-8 flex items-center justify-center rounded-full bg-yellow-400 text-black hover:bg-yellow-300 transition">N</a>
        <a href="#"
          class="w-8 h-8 flex items-center justify-center rounded-full bg-yellow-400 text-black hover:bg-yellow-300 transition">A</a>
        <a href="#"
          class="w-8 h-8 flex items-center justify-center rounded-full bg-yellow-400 text-black hover:bg-yellow-300 transition">R</a>
        <a href="#"
          class="w-8 h-8 flex items-center justify-center rounded-full bg-yellow-400 text-black hover:bg-yellow-300 transition">E</a>
      </div>
    </div>
    <div class="flex justify-center gap-4 mt-4 ">
      <a href="https://www.instagram.com/">
        <img src="/img/icons8-instagram.svg" alt="Instagram"> </a>

      <a href="https://web.whatsapp.com">
        <img href="" src="/img/icons8-whatsapp.svg" alt="Whatsapp"> </a>

      <a href="https://br.pinterest.com">
        <img href="" src="/img/icons8-pinterest.svg" alt="Pinterest"> </a>
    </div>
  </footer>

</body>

</html>